.ion-card-background {
  //--background: url('https://i.pinimg.com/originals/79/42/c2/7942c20c2361d3bc1823049330d411a2.jpg') no-repeat center center / cover;
  margin: 5px 0 0 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/79/42/c2/7942c20c2361d3bc1823049330d411a2.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}