<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let item of table">
    <ion-card mode="ios" class="ion-card-background" *ngIf="item.cursos_titulo" >
      <ion-card-header mode="ios">
        <ion-card-title mode="ios">
          <ion-icon name="bookmark"></ion-icon>
          {{item.cursos_titulo}}
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content mode="ios">
        {{item.cursos_descripcion}}
      </ion-card-content>
      <ion-button expand="block" fill="clear" color="FincaNav" (click)="goToRoute('student/cobro-student/'+item.cursos_id)">
        <ion-icon name="cart" slot="start"></ion-icon>
        Realizar Compra
      </ion-button>
    </ion-card>
  </div>
  

</ion-content>
