<ion-header>
  <ion-toolbar>
    <ion-title>Mis Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of table">
    <ion-item *ngIf="item.cobros_cantidad" (click)="presentModal(item.cobros_id)">
      <img class="img-noticia" src="http://cooperativabandegua.com/wp-content/uploads/2018/04/icon-recibo-agua-luz.png">
      <ion-label>
        <p><strong>Curso: </strong>{{item.cobros_cursos_id}}</p>
        <p><strong>Cantidad: </strong>{{item.cobros_cantidad}}</p>
        <p><strong>Fecha: </strong>{{item.cobros_fecha | date: 'mediumDate'}}</p>
      </ion-label>
    </ion-item>
    </div>
  </ion-list>
</ion-content>
