<ion-header>
  <ion-toolbar>
    <ion-title>Instrumentos</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="metronomo" checked>
      <ion-label>Metrónomo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cronometro">
      <ion-label>Cronómetro</ion-label>
    </ion-segment-button>
    <ion-segment-button value="temporizador">
      <ion-label>Temporizador</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content *ngIf="selectItem=='metronomo'">
  <!--<div class="splash-bg" style="background: url('http://chacoadentro.com/wp-content/uploads/2017/08/522115082-alumno-de-primaria-pizarra-deberes-para-el-hogar-escolar.jpg');"></div>-->
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="myStyles"></div>
  </div>
  <div class="ion-padding">
  <!--<ion-item color="transparent">
    <ion-label position="floating"><ion-icon name="musical-note"></ion-icon>  BPM</ion-label>
    <ion-input type="range" min="40" value="145" max="250" id="bpm" [(ngModel)]="bpm" name="bpm"></ion-input>
  </ion-item>-->
  <div  style="text-align: center;">
    <h1 id="horas" class="horas">{{bpm}} BPM</h1>
  </div>
  <ion-item color="transparent">
    <ion-range min="40" max="250" color="secondary" [(ngModel)]="bpm" name="bpm">
      <ion-icon size="small" slot="start" name="remove"></ion-icon><ion-label slot="start">40</ion-label>
      <ion-label slot="end">250</ion-label><ion-icon slot="end" name="add"></ion-icon>
    </ion-range>
    <audio #audio src="../../../assets/audio/Claves.wav"></audio>
  </ion-item>

  <ion-row>
    <ion-button color="primary" expand="block" (click)="remove()" style="width: 48%;">
      <ion-icon name="remove"></ion-icon>
    </ion-button>
    <ion-button color="primary" expand="block" (click)="add()" style="width: 49%;">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-button *ngIf="!isPlaying" expand="block" color="primary" (click)="reproducir()">
    <ion-icon name="play" slot="start"></ion-icon> Iniciar
  </ion-button>
  <ion-button *ngIf="isPlaying" expand="block" color="primary" (click)="reproducir()">
    <ion-icon name="pause" slot="start"></ion-icon> Finalizar
  </ion-button>
</div>
</ion-content>

<ion-content *ngIf="selectItem=='cronometro'">
  <!--<div class="splash-bg" style="background: url('http://chacoadentro.com/wp-content/uploads/2017/08/522115082-alumno-de-primaria-pizarra-deberes-para-el-hogar-escolar.jpg');"></div>-->
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="myStyles2"></div>
  </div>

  <div class="ion-padding">
    <div  style="text-align: center;">
      <h1 id="horas" class="horas">{{_minutos}}:{{_segundos}}.{{_centesimas}}</h1>
    </div>
    <ion-button *ngIf="!isRun" expand="block" color="primary" (click)="estadoSwap()">
      <ion-icon name="play" slot="start"></ion-icon> Iniciar
    </ion-button>
    <ion-button *ngIf="isRun" expand="block" color="primary" (click)="estadoSwap()">
      <ion-icon name="pause" slot="start"></ion-icon> Finalizar
    </ion-button>
    <ion-button expand="block" color="primary" (click)="stop()">
      <ion-icon name="refresh" slot="start"></ion-icon> Reiniciar
    </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="selectItem=='temporizador'">
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="myStyles2"></div>
  </div>

  <div class="ion-padding">
    <div  style="text-align: center;">
      <h1 id="Tiempo" class="horas">{{timeTemporizer}}</h1>
    </div>

    <ion-item>
      <ion-label><ion-icon name="stopwatch"></ion-icon>  HH:mm:ss</ion-label>
      <ion-datetime displayFormat="H:m:s" [(ngModel)]="timeTemporizer"></ion-datetime>
    </ion-item>


    <ion-button expand="block" color="primary" (click)="temporizerPlay()">
      <ion-icon name="play" slot="start"></ion-icon> Iniciar
    </ion-button>
    <!--<ion-button expand="block" color="primary" (click)="finalizar()">
      <ion-icon name="refresh" slot="start"></ion-icon> Reiniciar
    </ion-button>-->
  </div>
</ion-content>