<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light" mode="ios" (click)="goToRoute('admin/user-admin/1')">
      <ion-row>
        <ion-col size="6">
          <div style="height: 100%; width: 100%">
            <div class="contenedor">
              <img src="https://image.flaticon.com/icons/png/512/306/306473.png"
              class="img-center-card">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="container5" style="height: 100%; width: 100%">
            <div style="width: 100%;">
            <strong class="text" style="font-size:5vw;">Administradores</strong>
            <hr style="background-color: white;">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card color="light" mode="ios" (click)="goToRoute('admin/user-admin/2')">
      <ion-row>
        <ion-col size="6">
          <div style="height: 100%; width: 100%">
            <div class="contenedor">
              <img src="http://www.urnvirtual.com/wp-content/uploads/2016/11/icon_NuestrosMaestros.png"
              class="img-center-card">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="container5" style="height: 100%; width: 100%">
            <div style="width: 100%;">
            <strong class="text" style="font-size:5vw;">Tutores</strong>
            <hr style="background-color: white;">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card color="light" mode="ios" (click)="goToRoute('admin/user-admin/3')">
      <ion-row>
        <ion-col size="6">
          <div style="height: 100%; width: 100%">
            <div class="contenedor">
              <img src="https://upica.edu.pe/wp-content/uploads/2018/12/estudiante-icono.png"
              class="img-center-card">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="container5" style="height: 100%; width: 100%">
            <div style="width: 100%;">
            <strong class="text" style="font-size:5vw;">Estudiantes</strong>
            <hr style="background-color: white;">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
