<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" name="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of table |filter:search">
      <ion-item>
        <ion-label>
          <p><strong><ion-icon name="person"></ion-icon>Usuario: </strong>{{item.usu_nombre}} {{item.usu_apellido}}</p>
          <p><strong><ion-icon name="at"></ion-icon>Correo: </strong>{{item.usu_email}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmation(item.usu_id)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
        <ion-item-option (click)="presentModal(item.usu_id)">
          <ion-icon name="create"></ion-icon>
          Actualizar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
