<ion-header>
  <ion-toolbar>
    <ion-title>Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div  *ngFor="let item of table">
    <ion-card *ngIf="item.cursos_titulo" (click)="presentActionSheet(item.cursos_id)">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="bookmark"></ion-icon>
          {{item.cursos_titulo}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        {{item.cursos_descripcion}}
      </ion-card-content>
    </ion-card>
  </div>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
