<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form padding (ngSubmit)="saveChanges()" class="item item-trns">
    <ion-slides pager="true" [options]="slideOpts" style="height: 100%;">
      <ion-slide>
        <div style="height: 100%; width: 100%;">
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="contact"></ion-icon>  Nombre</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_nombre" name="usu_nombre">
          </ion-input>
        </ion-item>
        <!--APELLIDO-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="contact"></ion-icon>  Apellido</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_apellido" name="usu_apellido">
          </ion-input>
        </ion-item>
        <!--CORREO ELECTRONICO-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
          <ion-input style="color: white;"  type="email" [(ngModel)]="data.usu_email" name="usu_email">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Empresa donde labora</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_empresa" name="usu_empresa">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Cargo</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_cargo" name="usu_cargo">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Antiguedad</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_antiguedad" name="usu_antiguedad">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Lugar de Estudios</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_lugar_estudios" name="usu_lugar_estudios">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Carrera</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_carrera" name="usu_carrera">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Nivel o Año</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_nivel_ano" name="usu_nivel_ano">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="home"></ion-icon>  Domicilio</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_direccion_casa" name="usu_direccion_casa">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Profesión</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_profesion" name="usu_profesion">
          </ion-input>
        </ion-item>
        <!--NOMBRE
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="information-circle-outline"></ion-icon> Direccion Trabjo</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_direccion_casa" name="usu_direccion_casa">
          </ion-input>
        </ion-item>-->
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="call"></ion-icon>  Tel. Fijo</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_tel" name="usu_tel">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="phone-portrait"></ion-icon>  Celular</ion-label>
          <ion-input style="color: white;" type="text" [(ngModel)]="data.usu_cel" name="usu_cel">
          </ion-input>
        </ion-item>
        <!--NOMBRE-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
          <ion-datetime style="color: white;" displayFormat="MM/DD/YYYY" [(ngModel)]="data.usu_fech_nacimiento" name="usu_fech_nacimiento"></ion-datetime>
        </ion-item>
        <!--CONTRASEÑA-->
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating" ><ion-icon name="unlock"></ion-icon>  Contraseña</ion-label>
          <ion-input style="color: white;" [type]="passwordType" [(ngModel)]="data.usu_pass" name="usu_pass">
          </ion-input>
          <ion-icon color="light" name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
          <ion-icon color="light" name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
        </ion-item><br><br><br><br>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="height: 100%; width: 100%;">
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  ¿Inviertes las letras o palabras al leer?</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_inviertes_letras" name="usu_inviertes_letras">
              <ion-select-option value="Si">Si</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  ¿Se te dificulta leer con fluidez?</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_dificultad_lectura" name="usu_dificultad_lectura">
              <ion-select-option value="Si">Si</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  ¿Tienes dificultad para prestar atención o te distraes fácilmente?</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_dificultad_atencion" name="usu_dificultad_atencion">
              <ion-select-option value="Si">Si</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  ¿Con frecuencia tienes dificultad para encontrarle significado a una oración?</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_problema_significado_oracion" name="usu_problema_significado_oracion">
              <ion-select-option value="Si">Si</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  ¿Posees algún problema visual?</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_problema_visual" name="usu_problema_visual">
              <ion-select-option value="Si">Si</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  Lees porque...</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_usu_lees_por_que_id" name="usu_usu_lees_por_que_id">
              <ion-select-option value="1">Tienes que leer</ion-select-option>
              <ion-select-option value="2">Te Gusta</ion-select-option>
              <ion-select-option value="3">Te Encanta</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  ¿Cuántos libros lees al año en promedio?</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_libros_anuales" name="usu_libros_anuales">
              <ion-select-option value="{{x}}" *ngFor="let x of libros">{{x}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  Lateralidad</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_lateralidad" name="usu_lateralidad">
              <ion-select-option value="Diestro">Diestro</ion-select-option>
              <ion-select-option value="Zurdo">Zurdo</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  Capacidad de Memoria</ion-label>
            <ion-select style="color: white;" placeholder="Seleccionar" [(ngModel)]="data.usu_capacidad_memoria" name="usu_capacidad_memoria">
              <ion-select-option value="Alta">Alta</ion-select-option>
              <ion-select-option value="Regular">Regular</ion-select-option>
              <ion-select-option value="Baja">Baja</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="transparent" lines="none">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  <strong>OBSERVACIONES A TOMAR EN CUENTA PARA LLEVAR EL PROGRAMA:</strong> dificultades, problemas de horario, etc.</ion-label>
          </ion-item>
          <ion-item color="transparent">
            <ion-textarea style="color: white;" rows="6" cols="20" placeholder="Observaciones..." [(ngModel)]="data.usu_observaciones" name="usu_observaciones"></ion-textarea>
          </ion-item>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%; height: 100%;">
          <ion-item color="transparent" lines="none">
            <ion-label style="color: white;" class="ion-text-wrap"><ion-icon name="information-circle-outline"></ion-icon>  Realizar el Programa Lectura Productiva... ¿por qué? ¿para qué? ¿para cuándo?  ¡Si tienes respuestas es porque tienes motivos!  Escríbelo aquí y esta será tu meta.</ion-label>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" position="floating"><ion-icon name="help-circle-outline"></ion-icon>  ¿Por qué?</ion-label>
            <ion-textarea style="color: white;" rows="6" cols="20" placeholder="¿Por qué?..." [(ngModel)]="data.usu_por_que" name="usu_por_que"></ion-textarea>
          </ion-item>
          <ion-item color="transparent">
            <ion-label style="color: white;" position="floating"><ion-icon name="help-circle-outline"></ion-icon>  ¿Para qué?</ion-label>
            <ion-textarea style="color: white;" rows="6" cols="20" placeholder="¿Para qué?..." [(ngModel)]="data.usu_para_que" name="usu_para_que"></ion-textarea>
          </ion-item>
          <!--NOMBRE-->
          <ion-item color="transparent">
            <ion-label style="color: white;" position="floating"><ion-icon name="calendar"></ion-icon>  ¿Para cuando?</ion-label>
            <ion-datetime style="color: white;" displayFormat="MM/DD/YYYY" [(ngModel)]="data.usu_para_cuando" name="usu_para_cuando"></ion-datetime>
          </ion-item>
          <ion-button color="Exotic" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
            <ion-icon name="save" slot="start"></ion-icon>
            Registrarme
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
      
    
  </form>
</ion-content>