<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="contact"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.usu_nombre" name="usu_nombre">
      </ion-input>
    </ion-item>
    <!--APELLIDO-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="contact"></ion-icon>  Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.usu_apellido" name="usu_apellido">
      </ion-input>
    </ion-item>
    <!--CORREO ELECTRONICO-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input  type="email" [(ngModel)]="data.usu_email" name="usu_email">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="unlock"></ion-icon>  Contraseña</ion-label>
      <ion-input [type]="passwordType" [(ngModel)]="data.usu_pass" name="usu_pass">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="home"></ion-icon>  Domicilio</ion-label>
      <ion-input type="text" [(ngModel)]="data.usu_direccion_casa" name="usu_direccion_casa">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Profesión</ion-label>
      <ion-input type="text" [(ngModel)]="data.usu_profesion" name="usu_profesion">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="phone-portrait"></ion-icon>  Celular</ion-label>
      <ion-input type="text" [(ngModel)]="data.usu_cel" name="usu_cel">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.usu_fech_nacimiento" name="usu_fech_nacimiento"></ion-datetime>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label class="ion-text-wrap"><ion-icon name="help-circle-outline"></ion-icon>  Tipo de Usuario</ion-label>
      <ion-select placeholder="Seleccionar" [(ngModel)]="data.usu_tipo" name="usu_tipo">
        <ion-select-option value="1">Administrador</ion-select-option>
        <ion-select-option value="2">Tutor</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
