<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Detalle de Compra</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="administrador">

  <div *ngIf="data" style="text-align: center;">
    <h1 *ngIf="curso"><ion-icon name="bookmark"></ion-icon>  {{curso.cursos_titulo}}</h1>
    <p *ngIf="curso">{{curso.cursos_descripcion}}</p>
    <p><ion-icon name="calendar"></ion-icon>  {{data.cobros_fecha | date: 'mediumDate'}}</p>
    <p *ngIf="data.cobros_estado=='0'"><ion-icon name="checkmark-circle-outline"></ion-icon>  Cancelado</p>
    <p *ngIf="data.cobros_estado=='1'"><ion-icon name="checkmark-circle-outline"></ion-icon>  Pendiente</p>
    <p *ngIf="data.cobros_estado=='2'"><ion-icon name="checkmark-circle-outline"></ion-icon>  Confirmado</p>
    <ion-button expand="block" (click)="update(data, 2)" color="success" *ngIf="data.cobros_estado=='1'">
      <ion-icon name="save" slot="start"></ion-icon>
      Aceptar
    </ion-button>
    <ion-button expand="block" (click)="update(data, 0)" color="danger" *ngIf="data.cobros_estado=='1'">
      <ion-icon name="save" slot="start"></ion-icon>
      Cancelar
    </ion-button>
  </div>
  
</ion-content>

<ion-content class="ion-padding" *ngIf="!administrador">
  <div *ngIf="data" style="text-align: center;">
    <h1 *ngIf="curso"><ion-icon name="bookmark"></ion-icon>  {{curso.cursos_titulo}}</h1>
    <p *ngIf="curso">{{curso.cursos_descripcion}}</p>
    <p><ion-icon name="calendar"></ion-icon>  {{data.cobros_fecha | date: 'mediumDate'}}</p>
    <p *ngIf="data.cobros_estado=='0'"><ion-icon name="checkmark-circle-outline"></ion-icon>  Cancelado</p>
    <p *ngIf="data.cobros_estado=='1'"><ion-icon name="checkmark-circle-outline"></ion-icon>  Pendiente</p>
    <p *ngIf="data.cobros_estado=='2'"><ion-icon name="checkmark-circle-outline"></ion-icon>  Confirmado</p>
  </div>
</ion-content>