<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="splash-bg" style="background: url('https://radiomaria.org.ar/contenido/uploads/sites/5/2018/06/matematicas.jpg');"></div>
    <div class="splash-info">
      <div class="splash-logo" [ngStyle]="myStyles" ></div>
      <div class="">
        <h3 class="text center">{{data.nombreCompleto}}</h3>
        <h6 class="text center">{{data.email}}</h6>
      </div>
    </div>

    <!-- CONFIGURACION -->
    <ion-list padding lines="none" mode="ios">
      <ion-list-header>
        <ion-label class="mayusculas">Cuenta</ion-label>
      </ion-list-header>
      <ion-item (click)="logOut()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>
          Cerrar Sesión
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
