<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Curso</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="data.cursos_titulo" name="cursos_titulo">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Descrpción</ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="data.cursos_descripcion" name="cursos_descripcion">
      </ion-textarea>
    </ion-item>
    <ion-button expand="block" (click)="saveChanges()" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
