<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard-admin">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="curso-admin">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sucursal-admin">
      <ion-icon name="business"></ion-icon>
      <ion-label>Sucursales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estudiante-admin">
      <ion-icon name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="perfil-admin">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
