<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard-tutor">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="metro-tutor">
      <ion-icon name="skip-forward"></ion-icon>
      <ion-label>Instrumentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil-tutor">
      <ion-icon name="people"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
