<ion-header>
  <ion-toolbar>
    <ion-title>Sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of table" (click)="presentActionSheet(item.sucursales_id)">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="business"></ion-icon>
        {{item.sucursales_titulo}}
      </ion-card-title>
      <ion-card-subtitle *ngIf="item.sucursales_direccion">
        <strong><ion-icon name="pin"></ion-icon> Dirección: </strong>{{item.sucursales_direccion}}
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="item.sucursales_telefono">
        <strong><ion-icon name="phone-portrait"></ion-icon> Telefono: </strong>{{item.sucursales_telefono}}
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="item.sucursales_whatsapp">
        <strong><ion-icon name="logo-whatsapp"></ion-icon> WhatsApp: </strong>{{item.sucursales_whatsapp}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{item.sucursales_descripcion}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
