<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of table">
      <ion-item *ngIf="item.horario">
        <img class="img-noticia" src="https://cdn.icon-icons.com/icons2/317/PNG/512/calendar-clock-icon_34472.png">
        <ion-label class="ion-text-wrap">
          <h1>{{item.horario}}</h1>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="presentModal(item.id)">
          <ion-icon name="create" slot="start"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmation(item.id)">
          <ion-icon name="trash" slot="start"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
