<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Sucursal</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="data.sucursales_titulo" name="sucursales_titulo">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Descripción</ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="data.sucursales_descripcion" name="sucursales_descripcion">
      </ion-textarea>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="pin"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="data.sucursales_direccion" name="sucursales_direccion">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="phone-portrait"></ion-icon>  Telefono</ion-label>
      <ion-input type="text" [(ngModel)]="data.sucursales_telefono" name="sucursales_telefono">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="logo-whatsapp"></ion-icon>  WhatsApp</ion-label>
      <ion-input type="text" [(ngModel)]="data.sucursales_whatsapp" name="sucursales_whatsapp">
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="disabledBtn">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
