<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="dataCurso">
  <div class="splash-info">
    <div class="splash-logo" [ngStyle]="myStyles"></div>
  </div>
  <form (ngSubmit)="saveChanges()">
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="data.cobros_cantidad" name="cobros_cantidad">
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Curso</ion-label>
      <ion-input type="text" [(ngModel)]="dataCurso.cursos_titulo" name="cursos_titulo" disabled>
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating" ><ion-icon name="information-circle-outline"></ion-icon>  Descrpción</ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="dataCurso.cursos_descripcion" name="cursos_descripcion" disabled>
      </ion-textarea>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="btnDisabled">
      <ion-icon name="cash" slot="start"></ion-icon>
      Realizar Pago
    </ion-button>
  </form>
</ion-content>