//INFORMACION
.splash-bg {
  position: relative;
  background: no-repeat transparent;
  background-size: cover;
  height: 40%;
  z-index: 1;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
.splash-info {
  position: relative;
  z-index: 2;
  text-align: center;
}
.splash-logo {
  margin: auto;
  background: repeat transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
  background-color: black;
  border: 3px solid white;
}
.splash-intro {
  font-size: 18px;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
}
button.login {
  margin-top: 25px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: #333;

  &.activated {
    background-color: rgb(220, 220, 220);
  }
}
.horas {
	font-size: 40px;
}