<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard-student">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cobros-student">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Mis Pagos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil-student">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
