/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

div.container4 {
    height: 10em;
    position: relative;
}
div.container4 div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
div.container5 {
    height: 10em;
    display: flex;
    align-items: center }
  div.container5 div {
    margin: 0 }
.div-login {
    width: 100%; 
    height: 50%;
}
.img-login {
    display: block; 
    width: 85%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
.img-directorio {
    display: block; 
    width: 40%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}

.img-directorio {
    display: block; 
    width: 70%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
.text {
  margin: 0%;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.img-noticia {
  border-radius: 15%;
  height: 100px;
  padding-top: 5px;
  height: 105px;
}